<h1>Contribute to Matt's Campaign</h1>
<p></p>

<iframe src='https://democracy.com/matt4davis/donate.aspx?forIFrame=true' width='100%' height='2000' frameBorder='0' style='border: none'></iframe>

<p class="disclaimer">The City of Davis has a $100 per person city council campaign contribution limit.  Married couples may donate together from the same bank account.                      
<p class="disclaimer">CONTRIBUTIONS ARE NOT TAX DEDUCTIBLE</p>
			
<% content_for :rh do %>

		
		 
		 
		 
<%= render '/layouts/tenets.html.erb'%>
<%= render '/layouts/ltd.html.erb'%>

<%= render '/layouts/news.html.erb'%>
<%= render '/layouts/support.html.erb'%>


<% end %>
		