<%= bootstrap_form_for(@page) do |f| %>
  
 

  <div class="field">
   
    <%= f.text_field :title %>
  </div>
  <div class="field ">
   
    <%= f.text_area :content, class:"edit-area" %>
  </div>
  <div class="actions pull-right">
    <%= f.submit %>
  </div>
<% end %>
