body {
	background-color:#16507F;
	padding-top:100px;
}

.page {
	background-color: #f8f8f8;
	padding:20px 0;
	
}

.edit {
	padding: 5px 10px;
	color:#ccc;
	margin-bottom:10px;
	background-color:#FBFBFB;
	
}
.fa-edit {
	color:#aaa;
	
}


.admin-edit {
	color:#aaa;
	text-transform:uppercase;
	margin-top:7px;
}

.edit-area {
	height:300px;
}

.page-frame {
	
	padding:20px;
	border:1px solid #ccc;
	background-color:#fff;
}

.bootstrap-welcome {
  padding-top: 50px;
}

.nav-wrapper {
	background-color:#16507F;
	
}

.navbar {
	background-color:#16507F;
	padding:20px 0;
	min-height:100px;
}

.logo {
	padding-top:10px;
	
}

.navbar {
  border-radius: 0 !important;
  
}

.navbar-toggle {
	color:#fff;
	
}

.navbar-toggle a:hover{
	background-color: #ff6600;
}

.tog-menu {
	color:#fff;
	margin-top:15px;
}

.dropdown-menu {
    width: 250px;
    
}

.footer {
	color:#fff;
	padding:20px 0;
}

.nav-item {
	
	margin-top:20px;
	text-transform:uppercase;
}

.navbar {
	font-size:1.1em;
	padding:10px 0;
	margin-bottom:0px;
	text-transform: uppercase;
}


.navbar a {
	margin:0 10px;
	color:#fff;
}
.navbar a:hover {
	color:#FB9A3B;
}

.contribute {
	font-size:1.1em;
}
.navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav > li > a:focus {
	
    color: #fff;
}


 .navbar-default .navbar-nav > .active > a, 
 .navbar-default .navbar-nav > .active > a:hover, 
 .navbar-default .navbar-nav > .active > a:focus {
	 
      background: #fff;
	  
 }
 
 .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  
     color: #FB9A3B;
 }
 
 .pages {
	 padding:10px;
	 background-color:#f8f8f8;
	 margin:0 0 20px;
 }
 
 .news-img-index {
 	padding:10px 20px;
 }
 
 .news-img {
 	padding:10px 0px;
 }

 .news-index {
 	margin-bottom:30px;
 }
 .news-teaser h3 {
 	font-size:1.5em;
 	font-weight:400;
 	margin-bottom:0;
 	padding-top:0;
 }
 .news-teaser {
 	font-weight:300;
 	padding:0px 0px 0 20px;
 }

 .newslink {
 	color:#FBB03B;
 	margin-bottom:0;
 	padding-bottom:0;
 }



 .newslink a{
 	color:#fff;
 	text-transform:uppercase;
	
 }

 .readmore-sep {
 	font-size:0.7em;
 	color:#0075D8;
 }

 .newslink-blue a{
 	color:#0075D8;
	
 }



 .fa-read-more {
 	padding-left:5px;
	
 	color:#FBB03B;
 }

 .fa-read-more-blue {
 	padding-left:5px;
	
 	color:#0075D8;
 }

 .edit {
 	padding: 5px 10px;
 	color:#ccc;
 	margin-bottom:10px;
 	background-color:#FBFBFB;
	
 }
 .fa-edit {
 	color:#aaa;
	
 }
 