body {
	background-color:#0E4877;
	padding-top:116px;
}

h1 {
	color: #0E4877;
}
h3 {
	color:#0572C8;
}

h4 {
	color:#333;
}

.login {
	padding:20px;
	width: 300px;
	margin:0px auto;
	margin-bottom:40px;
	background-color:#efefef;
}

.login-field input{
	width:100%;
}

.login-button {
	text-align: right;
	margin-top:30px;
}

.page {
	background-color: #f8f8f8;
	padding:20px 0;
	
	
	
}
.jumbotron{
	padding: 280px 20px 0px 50px;
	
}

.jumbotron-welcome{
	
	text-align:center;
	color:#fff;
	margin-bottom: 40px;
	height:430px;
	background-position:center center;
	background-size:cover;
	text-shadow: black 0.1em 0.3em 0.3em !important;
	background-image: url("jumbo.jpg");
}

.jumbotron-welcome h1{
	color:#fff;
	font-size: 4em;
}
.jumbotron-welcome p{
	font-size: 2em;
}

.main {
	
}

.rh {
	
}



.edit {
	padding: 5px 10px;
	color:#ccc;
	margin-bottom:10px;
	background-color:#FBFBFB;
	
}
.fa-edit {
	color:#aaa;
	
}
.edit-leader {
	height:150px;
}
.edit-content {
	height:300px;
}

.admin-edit {
	color:#aaa;
	text-transform:uppercase;
	margin-top:7px;
}

.edit-area {
	height:300px;
}

.page-frame {
	
	padding:20px;
	border:1px solid #ccc;
	background-color:#fff;
}

.bootstrap-welcome {
  padding-top: 50px;
}

.nav-wrapper {
	background-color:#16507F;
	
}

.navbar {
	background-color:#0E4877;
	padding:20px 0;
	min-height:115px;
}

.logo {
	
	
}


.navbar {
  border-radius: 0 !important;
  border-bottom:6px solid #0572C8;
}

.navbar-toggle {
	color:#fff;
	
}

.navbar-toggle a:hover{
	background-color: #ff6600;
}

.tog-menu {
	color:#fff;
	margin-top:15px;
}

.dropdown-menu {
    width: 250px;
    
}

.footer {
	color:#fff;
	padding:20px 0;
	border-top:6px solid #0572C8;
}

.nav-item {
	
	margin-top:29px;
	text-transform:uppercase;
}

.navbar {
	font-size:1em;
	padding:10px 0;
	margin-bottom:0px;
	text-transform: uppercase;
}


.navbar a {
	margin:0 10px;
	color:#fff;
}
.navbar a:hover {
	 color:#FCEE21;
}

.droppy {
 padding:5px 0;
 
}

.droppy a {
 color:#153C5B;
}


.dropdown:hover .dropdown-menu {
display: block;

}

a.contribute {
	background-color:#0572C8;
	font-size:1em;
	color:#FCEE21;
}

a.contribute:hover {
	
	color:#fff;
}
.navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav > li > a:focus {
	
    color: #fff;
}


 .navbar-default .navbar-nav > .active > a, 
 .navbar-default .navbar-nav > .active > a:hover, 
 .navbar-default .navbar-nav > .active > a:focus {
	 
      background: #fff;
	 
 }
 
 .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  
     color: #FB9A3B;
 }
 .droppy:hover {
 	background-color:#efefef;
 	 color:#666;
 }
 a.dropdown-toggle:hover {
	 
	 text-decoration:none;
 }
 a.droplink:hover {
	 color:#0572C8
 }
 
 .footer-col {
 	padding:20px;
 	text-align:left;
 	font-size:1em;
 	font-weight: 300;
 }

 .footer-col ul {
 	border-top:1px solid #FCEE21;
 	padding-top:10px;
 }

 .footer-col p {
 	border-top:1px solid #FCEE21;
 	padding-top:10px;
 }
 .footer-col strong {
 	font-weight: 330;
 }

 .footer-col h3 {
 	font-size:1.1em;
 	text-transform:uppercase;
 	color:#FCEE21;
 	font-weight:300;
	
	
 }

 .footer-col ul {
 	margin-left:0;
 	padding-left:0;
 	float:left;
 	width:50%;
 }
 .footer-col li{
 	list-style:none;
 	text-transform:uppercase;
 	font-size:1em;
	
 }

 .footer-col li a {
 	color:#fff;
 }

 .footer-col li a:hover {
 	color:#FCEE21;
 	text-decoration:underline;
	
 }
 .paidforby {
 	border:1px solid #fff;
 	padding:10px;
 	text-align:center;
 	font-size:0.8em;
 	width:30%;
 	margin:0px auto;
 	margin-bottom:20px;
 }
 .pages {
	 padding:10px;
	 background-color:#f8f8f8;
	 margin:0 0 20px;
 }
 
 .news-img-index {
 	padding:10px 20px;
 }
 
 .news-img {
 	padding:10px 0px 20px;
 }

 .news-index {
 	margin-bottom:30px;
 }
 .news-teaser h3 {
 	font-size:1.5em;
 	font-weight:400;
 	margin-bottom:0;
 	padding-top:0;
 }
 .news-teaser {
 	font-weight:300;
 	padding:0px 0px 0 20px;
 }

 .newslink {
 	color:#FBB03B;
 	margin-bottom:0;
 	padding-bottom:0;
 }



 .newslink a{
 	color:#fff;
 	text-transform:uppercase;
	
 }

 .readmore-sep {
 	font-size:0.7em;
 	color:#0075D8;
 }

 .newslink-blue a{
 	color:#0075D8;
	
 }



 .fa-read-more {
 	padding-left:5px;
	
 	color:#FBB03B;
 }

 .fa-read-more-blue {
 	padding-left:5px;
	
 	color:#0075D8;
 }

 .edit {
 	padding: 5px 10px;
 	color:#ccc;
 	margin-bottom:10px;
 	background-color:#FBFBFB;
	
 }
 .fa-edit {
 	color:#aaa;
	
 }
 .img-bio {
	 margin-top:60px;
 }
 .rails-bootstrap-forms-date-select,
 .rails-bootstrap-forms-time-select,
 .rails-bootstrap-forms-datetime-select {
   select {
     display: inline-block;
     width: auto;
   }
 }
 .rails-bootstrap-forms-error-summary {
   margin-top: 10px;
 }

 .simple-calendar {
 	font-size:1.3em;
 }
 .calendar {
  padding-bottom:30px;
 } 

  .simple-calendar {
  	 text-align:center;
  }
 
  .simple-calendar a{
  	 color:#FB9A3B;
 	 font-size:0.7em;
  }
  .calendar-header {
   text-align:center;
   font-size: 2.8em;
   padding:10px;
   margin-bottom:20px;
   border:1px solid red;
  }
  .calendar-header a{
   padding: 0 10px;
  }
 
  .calendar th{
   color:#333;
   text-align:center;
  }
 
  .current-month {
 	 background-color: #F8FBFF;
  }
  .calendar td {
   border:5px solid #fff;
   color:#333;
   vertical-align: top;
   text-align:center;
   width: 120px;
   height: 150px;
   padding:10px;
 
  }
 
  .calendar td a{
   color:#FB9A3B;
   font-size:0.8em;
  
  }
 
  .day {
  }
 

  .past {
   background-color: #F8FBFF;
  }
 
  .wday-6, .wday-0{
   background-color: #FFF3E1;
  }
 
  td.today {
   color: #ff6600;
   background-color: #FBEBEB;
  
  }
 
  .next-month, .prev-month {
   background-color: #F4F9F9;
  }
 
  .event-details {
 	 padding:20px;
	 
  }
 
  .event-location {
 	 font-size:0.9em;
 	 font-weight:normal;
  }
 
  .event-details h2,h3{
  }
 
  .event-details h3{
 	 color:#FB9A3B;
  }
 
  .event-img {
 	 padding:20px 0px;
	
 	 margin-bottom:30px;
  }
 
  .eventlist {
 	 border-top:1px solid #eee;
 	 margin: 20px 0 30px;
 	 padding-top:10px;
  }
  
  .ltd {
	  padding:10px;
	  background-color:#ECF8FF;
	  border:1px solid #eee;
	  text-align:center;
  }
 
  .ltd img{
	  margin:10px 0 0px;
  }
  
  li.about {
	 padding:0;
	 margin:0;
  }
 
  .news {
	  padding:10px;
  }
  .news h4 {
	  color:#333;
	  border-bottom:1px solid #E0ECF6;
	  margin:20px 0 10px;
	  padding-bottom:10px;
	  
  }
  
  .news-date {
	  color:#aaa;
	  font-size:.8em;
	  margin:0;
  }
  
  .tenets {
	  padding:10px;
  }
  .tenets h4 {
	  color:#333;
	  border-bottom:1px solid #E0ECF6;
	  margin:20px 0 10px;
	  padding-bottom:10px;
	  
  }
  
  .tenets ul{
	  
	 
  }
  .tenets li {
	  font-size:1em;
	  font-weight:bold;
	  
	  list-style:none;
	  padding-bottom:10px;
  }
  
  .fa-li {
	  margin:3px 0 0;
	  color:green;
  }
  
 .warning {
	 color: #C80506;
 }
 
 .comment-section {
	 height: 200px;
 }
 
 .has-error {
 	color:#C80506;
 	padding:5px;
 	
 }
 .has-error input {
 	
	border:1px solid #C80506;
 }
 .has-error textarea {
 	
	border:1px solid #C80506;
 }
 .copyright {
  	text-align:center;
  	font-size:0.9em;
 }
 .paidforby {
 	border:1px solid #fff;
 	padding:10px;
 	text-align:center;
 	font-size:0.8em;
 	width:30%;
 	margin:0px auto;
 	margin-bottom:20px;
 }
 
 .copyright a:hover{
	 color:#FCEE21;
 }