body {
	background-color:#16507F;
	padding-top:100px;
}

.page {
	background-color: #f8f8f8;
	padding:20px 0;
	
}

.edit {
	padding: 5px 10px;
	color:#ccc;
	margin-bottom:10px;
	background-color:#FBFBFB;
	
}
.fa-edit {
	color:#aaa;
	
}
.edit-leader {
	height:150px;
}
.edit-content {
	height:300px;
}

.admin-edit {
	color:#aaa;
	text-transform:uppercase;
	margin-top:7px;
}

.edit-area {
	height:300px;
}

.page-frame {
	
	padding:20px;
	border:1px solid #ccc;
	background-color:#fff;
}

.bootstrap-welcome {
  padding-top: 50px;
}

.nav-wrapper {
	background-color:#16507F;
	
}

.navbar {
	background-color:#16507F;
	padding:20px 0;
	min-height:100px;
}

.logo {
	padding-top:10px;
	
}


.navbar {
  border-radius: 0 !important;
  
}

.navbar-toggle {
	color:#fff;
	
}

.navbar-toggle a:hover{
	background-color: #ff6600;
}

.tog-menu {
	color:#fff;
	margin-top:15px;
}

.dropdown-menu {
    width: 250px;
    
}

.footer {
	color:#fff;
	padding:20px 0;
}

.nav-item {
	
	margin-top:20px;
	text-transform:uppercase;
}

.navbar {
	font-size:1.1em;
	padding:10px 0;
	margin-bottom:0px;
	text-transform: uppercase;
}


.navbar a {
	margin:0 10px;
	color:#fff;
}
.navbar a:hover {
	color:#FB9A3B;
}

.droppy {
 padding:5px 0;
 
}

.droppy a {
 color:#153C5B;
}
.droppy:hover {
	background-color:#eee;
}

.dropdown:hover .dropdown-menu {
display: block;
background-color:#efefef;
}

.contribute {
	font-size:1.1em;
}
.navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav > li > a:focus {
	
    color: #fff;
}


 .navbar-default .navbar-nav > .active > a, 
 .navbar-default .navbar-nav > .active > a:hover, 
 .navbar-default .navbar-nav > .active > a:focus {
	 
      background: #fff;
	  
 }
 
 .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  
     color: #FB9A3B;
 }
 
 .pages {
	 padding:10px;
	 background-color:#f8f8f8;
	 margin:0 0 20px;
 }
 
 .news-img-index {
 	padding:10px 20px;
 }
 
 .news-img {
 	padding:10px 0px 20px;
 }

 .news-index {
 	margin-bottom:30px;
 }
 .news-teaser h3 {
 	font-size:1.5em;
 	font-weight:400;
 	margin-bottom:0;
 	padding-top:0;
 }
 .news-teaser {
 	font-weight:300;
 	padding:0px 0px 0 20px;
 }

 .newslink {
 	color:#FBB03B;
 	margin-bottom:0;
 	padding-bottom:0;
 }



 .newslink a{
 	color:#fff;
 	text-transform:uppercase;
	
 }

 .readmore-sep {
 	font-size:0.7em;
 	color:#0075D8;
 }

 .newslink-blue a{
 	color:#0075D8;
	
 }



 .fa-read-more {
 	padding-left:5px;
	
 	color:#FBB03B;
 }

 .fa-read-more-blue {
 	padding-left:5px;
	
 	color:#0075D8;
 }

 .edit {
 	padding: 5px 10px;
 	color:#ccc;
 	margin-bottom:10px;
 	background-color:#FBFBFB;
	
 }
 .fa-edit {
 	color:#aaa;
	
 }
 
 .rails-bootstrap-forms-date-select,
 .rails-bootstrap-forms-time-select,
 .rails-bootstrap-forms-datetime-select {
   select {
     display: inline-block;
     width: auto;
   }
 }
 .rails-bootstrap-forms-error-summary {
   margin-top: 10px;
 }

 .simple-calendar {
 	font-size:1.3em;
 }
 .calendar {
  padding-bottom:30px;
 } 

  .simple-calendar {
  	 text-align:center;
  }
 
  .simple-calendar a{
  	 color:#FB9A3B;
 	 font-size:0.7em;
  }
  .calendar-header {
   text-align:center;
   font-size: 2.8em;
   padding:10px;
   margin-bottom:20px;
   border:1px solid red;
  }
  .calendar-header a{
   padding: 0 10px;
  }
 
  .calendar th{
   color:#333;
   text-align:center;
  }
 
  .current-month {
 	 background-color: #F8FBFF;
  }
  .calendar td {
   border:5px solid #fff;
   color:#333;
   vertical-align: top;
   text-align:center;
   width: 120px;
   height: 150px;
   padding:10px;
 
  }
 
  .calendar td a{
   color:#FB9A3B;
   font-size:0.8em;
  
  }
 
  .day {
  }
 

  .past {
   background-color: #F8FBFF;
  }
 
  .wday-6, .wday-0{
   background-color: #FFF3E1;
  }
 
  td.today {
   color: #ff6600;
   background-color: #FBEBEB;
  
  }
 
  .next-month, .prev-month {
   background-color: #F4F9F9;
  }
 
  .event-details {
 	 padding:20px;
	 
  }
 
  .event-location {
 	 font-size:0.9em;
 	 font-weight:normal;
  }
 
  .event-details h2,h3{
  }
 
  .event-details h3{
 	 color:#FB9A3B;
  }
 
  .event-img {
 	 padding:20px 0px;
	
 	 margin-bottom:30px;
  }
 
  .eventlist {
 	 border-top:1px solid #eee;
 	 margin: 20px 0 30px;
 	 padding-top:10px;
  }
 
 