 <h2>Ranking Electeds</h2>
 
 <p>Ranking allows you to order elected officials according to their seniority, rather than alphabetically</p>
 
 <p>Spread out the ranks and you will be able to insert an in-between office later on if needed.
	 
	 <p>For example, 100, 200, 300 etc is better than 1,2,3
		 