<div class="ltd">
	<%= image_tag 'ltd.jpg', class: "img-fluid" %>
	
	<hr>
	<p class="lead">What do you have to say...</p>
	<p>I want to hear from you - What's on your mind? What's important to you? 
		<p><%= link_to 'Send me a message', contact_url, class: 'btn btn-primary' %></p>
	
</div>