<div class="ltd">
	<%= image_tag 'ltd.png', class: "img-fluid" %>
	
	<hr>
	<p class="lead">What do you have to say...</p>
	<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.</p>
	
</div>