<div class="tenets">
	<h4>Matt's Tenets include</h4>
<ul class="fa-ul">
	<li><i class="fa-li fa fa-check"></i>More evidence based decisions, <br/>Fewer political calculations</li>
	<li><i class="fa-li fa fa-check"></i>A voice for fiscal responsibility</li>
	<li><i class="fa-li fa fa-check"></i>Fighting for Sustainability</li>
	<li><i class="fa-li fa fa-check"></i>An Independent Voice for All Citizens</li>
	<li><i class="fa-li fa fa-check"></i>Listening to you</li>
	
	
</ul>
	
	
</div>